<div class="container"> 
  <div> 
      <h2>Ajouter un Combat :</h2>              
  </div> 
  <form>  
      <div hidden class="col-sm-2 col-md-2 col-lg-2"> 
          <label>ID Combat</label> 
          <input type="text" [(ngModel)]="newCombat.idCombat" name="idCombat" class="form-control"> 
      </div> 

      <div class="col-sm-4 col-md-4 col-lg-4"> 
          <label>Nom j1</label> 
          <input type="text" [(ngModel)]="newCombat.nomj1" name="nomj1" class="form-control"> 
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4"> 
          <label>Nom j2</label> 
          <input type="text" [(ngModel)]="newCombat.nomj2" name="nomj2" class="form-control"> 
      </div> 

      <div class="col-sm-2 col-md-2 col-lg-2"> 
          <label>Score j1</label> 
          <input type="number" [(ngModel)]="newCombat.scorej1" name="scorej1" class="form-control"> 
      </div>

      <div class="col-sm-2 col-md-2 col-lg-2"> 
          <label>Score j2</label> 
          <input type="number" [(ngModel)]="newCombat.scorej2" name="scorej2" class="form-control"> 
      </div> 

      <div class="col-sm-4 col-md-4 col-lg-4"> 
          <label>Date création</label> 
          <input type="date" [(ngModel)]="newCombat.dateCombat" name="dateCombat" class="form-control"> 
      </div> 



        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="newIdCat">
                <option *ngFor="let cat of categories" [value]="cat.idCat">
                    {{cat.nomCat}}
                </option>
            </select>
        </div>
        <div class="mt-2"> 
            <button type="button" (click)="addCombat()" class="btn btn-success">Ajouter</button>
            <div>
                <h3>{{message}}</h3>
            </div> 
        </div> 
  </form> 
</div>
